# Build Directories
[Bb]in

# Dependencies
[Ll]ib

# Object Files
*.o
*.ko
*.obj
*.elf

# Linker Output
*.ilk
*.map
*.exp

# Debug Files
*.dSYM/
*.su
*.idb
*.pdb

# Dynamic Libraries
*.dll
*.so
*.so.*
*.dylib

# Static Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.out

# Code Coverage
*.lst

# ===
# DUB
# ===
.dub
docs.json
__dummy.html
docs/
